
<% if @island.photo.attached? %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @island.photo.key %>')">
  <h1><%= @island.name %>  🌴</h1>
</div>
<% else %>
  <h1><%= @island.name %>  🌴🌴</h1>
<% end %>
