// Import page-specific CSS files here.
@import "home";

#book-button a {
  border: solid 1px #ec4646;
  border-radius: 10px;
  color: white;
  background-color: #ec4646;
  padding: 10px;
  margin-top: 30px;
}
