.show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.show-features {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px;
}

.show-features li {
  padding: 0;
  margin: 0;
}
