  <div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5d83b27ee1494900093a5627/master/pass/Cebu-&-Visayan-Islands,-Philippines_GettyImages-1074254788.jpg);">
  <div class="container">
    <h1>New Booking</h1>
  <p><%= @island.name %><p>
  </div>
</div>

<div class="container col-4">
<div class="form">
  <%= render 'form' %>
</div>
</div>