  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5d83b27ee1494900093a5627/master/pass/Cebu-&-Visayan-Islands,-Philippines_GettyImages-1074254788.jpg);">
  <div class="container">
    <h1>Find your <strong>perfect</strong> paradise destination!</h1>
    <p>Sort from hundreds of islands around the world.</p>
    </br>
    <div id="book-button"><%= link_to "Create New Island", new_island_path(@island) %></div>
</br>

  </div>
</div>