#book-button {
  border-color: transparent;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  padding: 10px;
  height: fit-content;
  width: 200px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 500ms;
}

#book-button:hover {
  background-image: linear-gradient(-20deg, #fd4c64 0%, #ff8f2d 100%);
  border-color: transparent;
  text-decoration: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#book-button a {
  color: white;
}

a {
  color: #ec4646;
}

a:hover {
  color: #ec4646;
}

.btn {
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  border-radius: 10px;
  border-color: transparent;
  transition: 500ms;
}

.btn:hover {
  background-image: linear-gradient(-20deg, #fd4c64 0%, #ff8f2d 100%);
  border-color: transparent;
}

#edit-button a {
  border: transparent;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(-20deg, #28ad0d 0%, #13a00f 100%);
  padding: 10px;
  margin-right: 10px;
}

#delete-button a {
  border: transparent;
  border-radius: 10px;
  color: white;
  background-color: #ec4646;
  padding: 10px;
}

.container-buttons {
  display: flex;
}

#book-request-sent {
  border-radius: 10px;
  color: gray;
  padding: 10px;
  height: fit-content;
  text-align: center;
}

#book-request-confirmed {
  border-radius: 10px;
  color: green;
  padding: 10px;
  height: fit-content;
  width: 200px;
  text-align: center;
}
