#map {
  height: 300px;
  border-radius: 20px;
  z-index: 1;
}

// .mapboxgl-canvas {
//     // top: 0;
//     // bottom: 0;
//     // left: 0;
//     height: 600px;
// }
// .mapboxgl-ctrl .mapboxgl-ctrl-attrib {
//   visibility: hidden;
//   position: absolute;
// }

.mapboxgl-control-container {
  visibility: hidden;
}

.marker .mapboxgl-marker .mapboxgl-marker-anchor-center{
 z-index: 0;
}
